<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
	<div class="col-md-6 " th:fragment="meeting" th:inline="text" >
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-8 ">
						<h3 class="panel-title">[[${meeting.name}]]</h3>
					</div>
					<div align="right" class="col-md-4 ">

						<div class="btn-group btn-xs">
							<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
								Akcje <span class="caret"></span>
							</button>
							
							<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
								<li role="presentation" class="dropdown-header">Zespół</li>
								<li><a href="#" th:attr="db-id=${meeting.id}" onclick="addMember($(this).attr('db-id'))"> Dołącz</a></li>
								<li><a href="#" th:attr="db-id=${meeting.id}" onclick="removeMember($(this).attr('db-id'))">Opuść</a></li>
								<li class="divider"></li>
								<li role="presentation" class="dropdown-header">Projekt</li>
								<li><a href="#" th:attr="db-id=${meeting.id}" onclick="editMeeting($(this).attr('db-id'))">Popraw </a></li>
								<li><a href="#" th:attr="db-id=${meeting.id}" onclick="deleteMeeting(this)">Usuń</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body">[[${meeting.description}]]</div>
			<div class="panel-footer" >
						<span class="label label-primary" style="display:inline-block" th:each="tag : ${meeting.tags}">[[${tag}]]</span>
						<span class="label label-success " style="display:inline-block" th:each="member : ${meeting.members}">[[${member.firstName+' '+ member.lastName}]]</span>
			</div>
		</div>
	</div>
</body>

</html>

