<#include "include/header.html"/>
<table class="table table-hover table-striped">
<tr>
	<td>Login</td>
	<td>First Name</td>
	<td>Last Name</td>
	<td>Akcje</td>
</tr>
<#list operators as operator>
<tr >
	<td>${operator.login!}</td>
	<td>${operator.firstName!}</td>
	<td>${operator.lastName!}</td>
	<td><a href="operator/${operator.id?c}" class="btn btn-default btn-xs">
  <span class="glyphicon glyphicon-wrench"></span>
</a></td>
<tr>
</#list>
</table>
<a href="operator" class="btn btn-primary pull-right">Dodaj partnera</a>
<#include "include/footer.html"/>
