
<div class="col-lg-6 ">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="row">
				<div class="col-lg-4 ">
					<h3 class="panel-title">{{meeting.title}}</h3>
				</div>
				<div align="right" class="col-lg-6 col-lg-offset-2">

					<div class="btn-group btn-xs">
						<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
							Akcje <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"> Dolacz do zespolu</a></li>
							<li><a href="#">Opusc zespol</a></li>
							<li class="divider"></li>
							<li><a href="#">Dodaj komentarz <span class="badge">42</span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-body">{{meeting.description}}</div>
		<div class="panel-footer">
			<div class="row">
				<div class="col-lg-4">
					<span class="label label-primary" ng-repeat="tag in meeting.tags">{{tag}}</span>
				</div>
				<div class="col-lg-6 ">
					<span class="label label-success" ng-repeat="member in meeting.members">{{member}}</span>
				</div>
			</div>
		</div>
	</div>
</div>
